:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --dark: #242424;
}

.card {
  padding: 2em;
}

.navbar {
  background-color: var(--dark);
}

.home {
  background-color: var(--dark);
  color: white;
}