:root {
  --dark: #242424;
  --red: #FF2B2B;
  --secondary: #BEA6A1;
  --text: #F0F3EA;
  --scrolled: var(--red);
  --navlink-color: var(--text);
  --navlink-scrolled-color: var(--dark);
  --navbrand-color: var(--text);
  --navbrand-scrolled-color: var(--dark);
}

.red-text {
  color: var(--red);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark); 
  color: var(--text); 
}

.navbar {
  background-color: var(--dark);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
  transition: background-color 0.3s;
}

.navbar.scrolled {
  background-color: var(--scrolled);
}

.navbar .container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  width: 100%;
}

.navlink {
  color: var(--navlink-color);
  font-size: 20px;
  transition: color 0.3s;
}

.navbar.scrolled .navlink {
  color: var(--navlink-scrolled-color);
}

.navbar-brand {
  color: var(--navbrand-color);
  transition: color 0.3s;
}

.navbar.scrolled .navbar-brand {
  color: var(--navbrand-scrolled-color);
}

.home {
  max-width: 1500px;
  background-color: var(--dark);
  color: white;
}

.p {
  font-size: larger;
}

