:root {
  margin: 0 auto;
  --dark: #242424;
  --scrolled: #ffffff;
  --navlink-color: white;
  --navlink-scrolled-color: var(--dark);
  --navbrand-color: white;
  --navbrand-scrolled-color: var(--dark);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark); /* Applica il colore di sfondo a tutta la pagina */
  color: white; /* Imposta il colore del testo a bianco per contrastare con lo sfondo scuro */
}

.navbar {
  background-color: var(--dark);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
  transition: background-color 0.3s;
}

.navbar.scrolled {
  background-color: var(--scrolled);
  color: var(--dark);
}

.navbar .container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  width: 100%;
}

.navlink {
  color: var(--navlink-color);
  font-size: 20px;
  transition: color 0.3s;
}

.navbar.scrolled .navlink {
  color: var(--navlink-scrolled-color);
}

.navbar-brand {
  color: var(--navbrand-color);
  transition: color 0.3s;
}

.navbar.scrolled .navbar-brand {
  color: var(--navbrand-scrolled-color);
}

.home {
  max-width: 1500px;
  background-color: var(--dark);
  color: white;
}

.p {
  font-size: larger;
}

